/**
* Footer for Potherca
*/
.created-by {
    border-radius: 0.35em;
    color: inherit;
    text-decoration: none;
}

.potherca,
.Potherca {
    border-bottom: 1px solid rgb(220, 50, 50);
    border-bottom-color: rgba(220, 50, 50, 1);
    color: rgb(220, 50, 47);
    position: relative;
    transition: border 0.35s ease-out;
    text-decoration: none;
}

.created-by:hover .potherca,
.created-by:hover .Potherca {
    border-bottom-color: rgba(220, 50, 50, 0);
    border-color: transparent;
    color: rgb(255,255,255);
    line-height: 1em;
}

.potherca::after,
.Potherca::after {
    background: no-repeat url(https://pother.ca/images/avatars/ben-cartoon-background-red-252-square.png);
    background-size: 100%;
    border-radius: 2em;
    content: " ";
    display: block;
    height: 4em;
    position: absolute;
    right: 0;
    top: -0.85em;
    transform: rotatex(90deg);
    transition: transform 0.35s ease-out;
    width: 4em;
}

.created-by:hover .potherca::after,
.created-by:hover .Potherca::after {
    height: 4em;
    transform: rotatex(0deg);
}

/*EOF*/
